.pBebidas{
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.hBebidas{
    display: flex;
    margin-top: 1rem;
}

.titBebidas{
    padding: 1rem;
}

.coca{
    width: 10rem;
}

.preCarrito-1{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    align-items: center;

}

.preCarrito-2{
    margin-top: 2.9rem;

    display: flex;
    align-items: center;
    gap: 4rem;
}

