.pBurguer{
    background-image: url("../img/header.png");
    background-position: center center;

    display: flex;
    justify-content: center;
    text-align: center;
}


.nBurguer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.Hamburger{
    margin: 3rem;
    height: 11.8rem;
}
.titBurger{
    color: #FFFFFF;
    margin-top: 0.5rem;
}

.horaBurger{
    width: 13rem;
    height: 2rem;
    background-color: #54CC0A;
    color: #FFFFFF;
    border-radius: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 3.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.infoBurger{
    margin-top: 0.5rem;
    color: #ffffffca;
}