
.titSecBurg{
    display: flex;
    justify-content: center;
    text-align: center;

    font-size: 1.8rem;
    margin-top: 2.5rem;
}

.hSigSec{
    display: flex;

    margin-top: 2rem;
    padding: 0.5rem;
}

/* TITULOS PARRAFOS E IMAGEN */
.titCheese{
    font-size: 1rem;

}

.pSigSec{
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.imgBurg{
    width: 9rem;
    height: 9rem;
}

.cajonImg{
    width: 10rem;
    height: 10rem;
}




.nSigSec{
    margin-left: 1rem;
}

/* BOTON DEL CARRITO */

.precioCarrito{
    margin-top: 3.5rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgCarrito{
    height: 1.2rem;
}

.carrito{
    width: 3.5rem;
    height: 2rem;
    background-color: #030712;
    border-radius: 0.5rem;
    margin-right: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.precio{
    font-size: 1.4rem;
    font-weight: 550;
}